PORT=5000
NODE_ENV=development
MONGODB_URI="mongodb+srv://lungierp:JbW7HHdJx1D4yrhQ@lungi-erp.24wpwyo.mongodb.net/?appName=lungi-erp";
JWT_SECRET=your_super_secret_jwt_key_minimum_32_characters
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
